<!-- include header -->
<%- include('include/_header')%>
<!-- /include -->

    <!-- Main section -->
    <main id="site">
        <div class="container">
            <div class="card">
                <div class="card-body">
                <div class="row mb-3">

                    <div class="col-md-6">
                        <div class="box-nav d-flex-justify-between">
                            <h4 class="text-gradient">Add User</h4>
                            <span class="text-black-50">insert new user here</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box-nav d-flex-justify-between float-right">
                            <a href="/" class="btn btn-info">
                                <span class="text-gradient"> << All User</span>
                            </a>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-12">
                        <%- include('include/_formAdd')%>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main section -->

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include -->