<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@mail.com</td>
    <td>Male</td>
    <td>0000-0000-000</td>
    <td>Active</td>
    <td>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-sm-12 d-grid">
                <a href="/update-user" class="btn btn-info btn-sm mb-2">Update</a>
            </div>
            <div class="col-md-12 col-lg-6 col-sm-12 d-grid">
                <a href="#" class="btn btn-danger btn-sm mb-2">Update</a>
            </div>
        </div>
    </td>
</tr>